[admin]
${admin_ip} ansible_user=ubuntu ansible_ssh_private_key_file="keys/id_rsa"

[vms]
%{ for index, vm in entities ~}
${vm.internal_ip}
%{ endfor ~}

[vms:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh -o StrictHostKeyChecking=no -i keys/id_rsa -q ubuntu@${admin_ip} -W %h:%p"'
ansible_user=ubuntu
ansible_ssh_private_key_file="keys/id_rsa"